<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>snippets</key>
	<array>
		<dict>
			<key>escaping</key>
			<integer>2</integer>
			<key>guid</key>
			<string>E4943BF9-D898-47B3-9841-425DBC9DE131</string>
			<key>tags</key>
			<array/>
			<key>title</key>
			<string>butts</string>
			<key>value</key>
			<string>butts butts butts</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
</dict>
</plist>
